<div class="container" id="itemdisplay" data-spy="scroll" data-target=".nav-side-menu" data-offset="50">
    <div class="row category-child">
        <h3 class="items-select-title text-center" id="occsiontypes">Gifts by Occassion</h3>
        <div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('birthday','occassion')" >
                    <img class="img-responsive" src="\public\pic12.jpg" alt=""> 
                    <div class="itemtextwrapper">
                        <div class="caption post-content">
                            <span>Birthday Gifts</span>
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('aniversary','occassion')">
					<img class="img-responsive" src="\public\pic16.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Aniversary Gifts</span>        
                        </div>
                    </div>
                </div>
        </div> 
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('marraige','occassion')">
                    <img class="img-responsive" src="\public\pic18.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Marraige Gifts</span>        
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('allthebest','occassion')">
					<img class="img-responsive" src="\public\pic13.jpeg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Congratulations Gifts</span>        
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row category-child">
        <h3 class="items-select-title text-center" id="cattypes">Gifts by Category</h3>
       <div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('exbox','type')">
                    <img class="img-responsive" src="\public\pic19.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Exploding Boxes</span>
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('scrapbooks','type')">
					<img class="img-responsive" src="\public\pic20.gif" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Scrap books</span>        
                        </div>
                    </div>
                </div>
        </div> 
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('grecard','type')">
                    <img class="img-responsive" src="\public\pic21.png" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Greeting Cards</span>        
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('others','type')">
					<img class="img-responsive" src="\public\pic22.png" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Others</span>        
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row category-child">
        <h3 class="items-select-title text-center" id="relationtypes">Gifts by Relationships</h3>
        <div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('love','relation')">
                    <img class="img-responsive" src="\public\pic23.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Love</span>
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('friends','relation')">
					<img class="img-responsive" src="\public\pic24.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Friends</span>        
                        </div>
                    </div>
                </div>
        </div> 
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('parents','relation')">
                    <img class="img-responsive" src="\public\pic25.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Parents</span>        
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('siblings','relation')">
					<img class="img-responsive" src="\public\pic26.jpg" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Siblings</span>        
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row category-child">
        <h3 class="items-select-title text-center" id="pricetypes">Gifts by Price range</h3>
        <div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('under500','range')">
                    <img class="img-responsive" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Under 500</span>
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('under1000','range')">
					<img class="img-responsive" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Under 1000</span>        
                        </div>
                    </div>
                </div>
        </div> 
		<div class="col-sm-3 thumb ">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('under2000','range')">
                    <img class="img-responsive" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Under 2000</span>        
                        </div>
                    </div>
                </div>
        </div>
		<div class="col-sm-3 thumb">
                <div class="thumbnail" ui-sref="AllItems" ng-click="itemspage('under5000','range')">
					<img class="img-responsive" alt="">
                    <div class="wrapper">
                        <div class="caption post-content">
                            <span>Under 5000</span>        
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>	