<div class="row bg-div" ng-style="{'background-image':'url('+imgURL+')', 'height':'auto'}"> 
        <navi-side-menu></navi-side-menu>
     <div class="container" id="mainSlideShow">
             <div id="mycarousel" class="carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                        <div class="item active">
                          <img src="/public/pic11.jpeg" class="img-responsive">
                          <div class="container">
                             
                                <div class="carousel-caption">
                                       <h1>Gifts to Celebrate Togetherness</h1>
                                       <p>Hapiness is giving gifts</p>
                                       <p><a class="btn btn-large btn-primary" href="#">Gift Now</a></p> 
                                </div>
                          </div>      
                        </div>
                        <div class="item">
                          <img src="/public/pic7.jpg" class="img-responsive"> 
                          <div class="container">
                             
                                <div class="carousel-caption">
                                        <h1>Birthday Specials</h1>
                                        <p>Make your friends absolutely feel special by gifting them</p>
                                        <p><a class="btn btn-large btn-primary" href="#">Gift Now</a></p>
                                </div>
                          </div>      
                        </div>
                        <div class="item">
                          <img src="/public/pic6.jpg" class="img-responsive">  
                          <div class="container">
                                
                                <div class="carousel-caption">
                                        <h1>Persnolize every part of your life</h1>
                                        <p>Persnolized crafts are more special</p>
                                        <p><a class="btn btn-large btn-primary" href="#">Gift Now</a></p>
                                </div>
                          </div>    
                        </div>
                </div>
                <a class="left carousel-control" data-target="#mycarousel" data-slide="prev">
                        <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" data-target="#mycarousel" data-slide="next">
                        <span class="icon-next"></span>
                        </a>       
             </div>
     </div>
     <div class="heartwrapper">
    <div class="line">
    </div>
    <div id="heart-text">Click for Offers</div>
    <div id="heart">
         </div>
 </div> 
 <items-display></items-display>  
</div>