<div class="nav-side-menu">
    <div class="userProfile">Welcome User</div>
        <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li  data-toggle="collapse" data-target="#occTypes" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Occasion <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="occTypes">
                    <li class="active"><a href="#">Birthday</a></li>
                    <li><a href="#">Aniversary</a></li>
                    <li><a href="#">Marraige</a></li>
                    <li><a href="#">Congratulations</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#diffFest" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Categories <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="diffFest">
                  <li>Exploding Boxes</li>
                  <li>Scrap Books</li>
                  <li>Cards</li>
                  <li>Others</li>
            </ul>
            <li data-toggle="collapse" data-target="#relation" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Relationships <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="relation">
                  <li>Love</li>
                  <li>Friends</li>
                  <li>Parents</li>
                  <li>Siblings</li>
             </ul>
             <li data-toggle="collapse" data-target="#priceRange" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Price Range <span class="arrow"></span></a>
            </li>
             <ul class="sub-menu collapse" id="priceRange">
                  <li>Under 500</li>
                  <li>Under 1000</li>
                  <li>Under 2000</li>
                  <li>Under 5000</li>
             </ul>
        </ul>
    </div>
</div>