<div class="nav-side-menu">
    <div class="userProfile">Welcome User</div>
        <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out" data-spy="affix"> 
            <li>
                  <a href="#occsiontypes"><i class="fa fa-gift fa-lg"></i> Occasion <span class="arrow"></span></a>
            </li>
   
            <li>
                  <a href="#cattypes"><i class="fa fa-gift fa-lg"></i> Categories <span class="arrow"></span></a>
            </li>
            
            <li>
                  <a href="#relationtypes"><i class="fa fa-gift fa-lg"></i> Relationships <span class="arrow"></span></a>
            </li>
             
             <li>
                  <a href="#pricetypes"><i class="fa fa-gift fa-lg"></i> Price Range <span class="arrow"></span></a>
            </li>
              
        </ul>
    </div>
</div>