<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Design your wishes</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href='#!/MainPage'>Home</a></li>
   </ul>
    <ul class="nav navbar-nav navbar-right">
      <li id="cart"><a  ui-sref="Cartpage"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="cartlength">{{cartlen}}</span></a>
      </li>
      <li class="dropdown" id="signup"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          <ul class="dropdown-menu animated fadeInRight" id="signupdrpdwn" >
                <li>
                   <sign-up></sign-up>
                </li>
            </ul>
      </li>
      <li class="dropdown" id="login"><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            <ul class="dropdown-menu animated fadeInRight" id="logindrpdwn" >
                <li>
                   <log-in></log-in>
                </li>
            </ul>
      </li>
  </ul>
  </div>
</nav>